{% extends "header.html"  %}
{% load static %}
{% block body %}

<style>
    .lowhighResult img{
        float: left;
    }

</style>

<div style="background-color: #fff; float: left; width: 50%; margin-top: 50px;">
    <form action="{% url 'lowhighResult' %}" method="post">
    <div id="lowhighResult">

        당신의 카드
        {% if user_pattern is 1 %}
            <img src="{% static '/assets/img/lowhigh/heart.jpg' %}" alt="heart">
        {% elif user_pattern is 2 %}
            <img src="{% static '/assets/img/lowhigh/clover.jpg' %}" alt="clover">
        {% elif user_pattern is 3 %}
            <img src="{% static '/assets/img/lowhigh/diamond.jpg' %}" alt="diamond">
        {% elif user_pattern is 4 %}
            <img src="{% static '/assets/img/lowhigh/spade.jpg' %}" alt="spade">
        {% endif %} 

        
        {% if user_number is 1 %}
            <img src="{% static '/assets/img/lowhigh/1.jpg' %}" alt="user_num">
        {% elif user_number is 2 %}
            <img src="{% static '/assets/img/lowhigh/2.jpg' %}" alt="user_num">
        {% elif user_number is 3 %}
            <img src="{% static '/assets/img/lowhigh/3.jpg' %}" alt="user_num">
        {% elif user_number is 4 %}
            <img src="{% static '/assets/img/lowhigh/4.jpg' %}" alt="user_num">
        {% elif user_number is 5 %}
            <img src="{% static '/assets/img/lowhigh/5.jpg' %}" alt="user_num">
        {% elif user_number is 6 %}
            <img src="{% static '/assets/img/lowhigh/6.jpg' %}" alt="user_num">
        {% elif user_number is 7 %}
            <img src="{% static '/assets/img/lowhigh/7.jpg' %}" alt="user_num">
        {% elif user_number is 8 %}
            <img src="{% static '/assets/img/lowhigh/8.jpg' %}" alt="user_num">
        {% elif user_number is 9 %}
            <img src="{% static '/assets/img/lowhigh/9.jpg' %}" alt="user_num">
        {% elif user_number is 10 %}
            <img src="{% static '/assets/img/lowhigh/10.jpg' %}" alt="user_num">
            {% elif user_number is 11 %}
            <img src="{% static '/assets/img/lowhigh/J.jpg' %}" alt="user_num">
        {% elif user_number is 12 %}
            <img src="{% static '/assets/img/lowhigh/Q.jpg' %}" alt="user_num">
        {% elif user_number is 13 %}
            <img src="{% static '/assets/img/lowhigh/K.jpg' %}" alt="user_num">

        {% endif %} 
    </div>


        
        

        상대 카드 ??
        <br>
        베팅한 돈 {{bet_money}}
        <input type="hidden" name="bet_money" value="{{bet_money}}">
        <!-- <input type="hidden" name="user_num" value="{{user_num}}">
        <input type="hidden" name="user_pattern" value="{{user_pattern}}">
        <input type="hidden" name="com_num" value="{{com_num}}">
        <input type="hidden" name="com_pattern" value="{{com_pattern}}"> -->
        <label for="selectLH">위 아래?</label>
        <label><input type="radio" name="selectLH" id="selectLH" value="LOW" checked>LOW</label>
        <label><input type="radio" name="selectLH" id="selectLH" value="HIGH">HIGH</label>
        <input type="submit" value="선택 완료">
    </form>

</div>


{% include "footer.html" %}
{% endblock %}